.treatment-link {
	display: inline-flex !important;
	.ms-Persona-imageArea {
		border-radius: 0 !important;
	}
	.ms-Persona-initials {
		border-radius: 0;
		font-size: 14px;
	}
}

.ms-Persona-details {
	line-height: 1.5;
}
