.appointments-list {
	margin-left: -15px;
	margin-right: -15px;
	.atc-c {
		background: #fff;
		border-color: #f3f3f3 !important;
		margin-bottom: 0 !important;
		&:hover {
			box-shadow: none !important;
			background: #f5f5f5;
		}
		.delete {
			top: 22px;
			background: transparent;
			border: 1px solid #f3f3f3;
			&:hover {
				color: #000;
			}
		}
	}
}
