@import "./global-styles/shadows.scss";
.calendar-component {
	background: #fff;
	min-height: 500px;
	font-size: 13px;
	.selector {
		a.current {
			border: 1px solid #00bcd4;
		}
		padding-bottom: 10px;
		margin-bottom: 10px;
		a {
			cursor: pointer;
			transition: 0.4s all;
			border-radius: 4px;
			border: 1px solid transparent;
		}
		a:hover {
			@include box_shadow(2);
			background: #c5cae9;
			color: #fff;
		}
		a.selected {
			background: #3f51b5;
			color: #fff;
			@include box_shadow(2);
		}
	}
	.year-selector,
	.month-selector {
		a {
			display: inline-block;
			margin-right: 5px;
			padding: 5px;
		}
		border-bottom: 1px solid #f3f3f3;
	}
	.day-selector {
		overflow-x: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		.day-selector-border {
			border-bottom: 1px solid #f3f3f3;
		}
		.day-selector-wrapper {
			margin: 0 auto;
			width: 974px;
			padding-bottom: 10px;
			text-align: center;
			.day-col {
				cursor: pointer;
				vertical-align: text-top;
				display: inline-block;
				padding: 3px;
				text-align: center;
				font-size: 12px;
				.day-name {
					font-size: 10px;
					margin-bottom: 10px;
					color: #9e9e9e;
				}
				.info-row {
					padding: 5px 0;
					width: 22px;
					display: block;
					border-radius: 4px;
				}
				&:hover .day-number {
					@include box_shadow(2);
					background: #c5cae9;
					color: #fff;
					border-radius: 4px;
				}
				&.selected .day-number {
					background: #3f51b5;
					color: #fff;
					border-radius: 4px;
					@include box_shadow(2);
				}
				&.weekend:not(:last-child) {
					border-right: 1px solid #f3f3f3;
					padding-right: 13px;
					margin-right: 10px;
				}
				.appointments-num {
					border-radius: 200px;
					font-size: 10px;
					color: #fff;
					&.num-0 {
						color: #262626;
						background: transparent;
					}
					&.num-1 {
						background: #ffebee;
					}
					&.num-2 {
						background: #ffcdd2;
					}
					&.num-3 {
						background: #ef9a9a;
					}
					&.num-4 {
						background: #e57373;
					}
					&.num-5 {
						background: #ef5350;
					}
					&.num-6 {
						background: #f44336;
					}
					&.num-7 {
						background: #e53935;
					}
					&.num-8 {
						background: #d32f2f;
					}
					&.num-9 {
						background: #c62828;
					}
					// more than 9
					background: #b71c1c;
				}
				&.holiday .info-row {
					background: transparent;
					color: #e3e3e3;
				}
				&.holiday .day-number {
					background: transparent;
					color: #e3e3e3;
				}
			}
		}
	}
	.week-view {
		.filters {
			border-bottom: 1px solid #f3f3f3;
			.ms-TextField-wrapper div {
				border: none;
				input {
					font-size: 13px;
					color: #262626;
					font-weight: 100;
				}
			}
			.ms-Toggle-stateText {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
	.full-day-col {
		width: 14.285%;
		float: left;
		padding: 3px 10px;
		padding-top: 0;
		min-height: 300px;
		&:not(:last-child) {
			border-right: 1px solid #f3f3f3;
		}
		&.holiday {
			background: #fafaf7;
		}
		&.current {
			h4 b {
				border: 1px solid #00bcd4;
			}
		}
		&.selected {
			h4 b {
				background: #3f51b5;
				color: #fff;
			}
		}
		h4 {
			margin: 0 -10px;
			padding: 10px;
			background: #fafafa;
			b {
				border: 1px solid transparent;
				border-radius: 3px;
				padding: 3px;
				min-width: 20px;
				display: inline-block;
				text-align: center;
			}
		}
		.appointment {
			padding-bottom: 10px;
			margin-bottom: 10px;
			cursor: pointer;
			.time {
				color: #616161;
				margin-bottom: 5px;
				clear: both;
				padding: 10px;
				background: #fafafa;
				margin: 0 -10px 10px;
				border-top: 1px solid #f5f5f5;
				color: #607d8b;
				border-color: #607d8b;
				&.done,
				&.missed {
					color: #fff;
					border-color: #009688;
					opacity: 0.6;
					color: #009688;
				}
				&.missed {
					color: #e91e63;
					border-color: #e91e63;
				}
			}
			a {
				display: inline-block;
				color: #2196f3;
				font-size: 12px;
				cursor: pointer;
				transition: 0.4s all;
				&:hover {
					color: #0d47a1;
				}
			}
			&:hover {
				border-bottom-color: #262626;
			}
		}
	}

	.centered {
		text-align: center;
	}

	.filters {
		.filter {
			border-left: 1px solid #f3f3f3;
		}
		.ms-TextField {
			margin-top: 10px;
		}
		.ms-Toggle {
			padding: 15px 0 0 15px;
		}
	}
}

@media screen and (min-width: 992px) {
	.calendar-component {
		margin-top: 60px;
		border-radius: 3px;
	}
}

@media screen and (max-width: 1250px) {
	.calendar-component .full-day-col {
		width: 33.33% !important;
		min-height: 200px;
	}
}

@media screen and (max-width: 800px) {
	.calendar-component .full-day-col {
		width: 50% !important;
		min-height: 150px;
	}
}

@media screen and (max-width: 400px) {
	.calendar-component .full-day-col {
		width: 100% !important;
		min-height: 50px;
	}
}
