@import "./global-styles/shadows.scss";
@import "./global-styles/input-boxes.scss";

.header-component {
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #e8effd;
	z-index: 2;
	section {
		float: left;
		padding: 10px 10px 0px;
		width: 100%;
		position: relative;
	}
	.notification {
		.title,
		.details {
			padding: 7px;
		}
	}
	.title {
		position: relative;
		margin-top: 10px;
		margin-bottom: 15px;
		text-align: center;
		text-transform: capitalize;
	}
	.issue-bubble {
		background: #e91e63;
		width: 12px;
		height: 12px;
		display: inline-block;
		position: absolute;
		right: 47px;
		top: 12px;
		border-radius: 20px;
		cursor: pointer;
	}
	.ms-OverflowSet {
		display: inline-block;
		margin-top: 9px;
		.ms-Button-menuIcon {
			font-size: 15px;
		}
	}
	.right-buttons {
		text-align: right;
		padding-top: 8px;
	}
	.resync.rotate {
		border-radius: 50%;
	}
	.resync.error {
		background: #fff;
		border: 1px solid #ff5722;
		i {
			color: #ff5722;
		}
	}
	.menu-button button {
		width: 66px;
		margin-left: -20px;
		height: 50px;
		margin-top: -10px;
		border-radius: 0;
		background: #f8f9fb;
		border-right: 1px solid #e8effd;
	}
}
