@import "./global-styles/shadows.scss";

.home {
	.duty-table {
		td.names {
			padding: 0;
			.ms-Persona {
				padding: 25px 5px;
				margin: 0;
				cursor: pointer;
				&:hover {
					background: #f3f3f3;
				}
			}
		}
	}
	.home-td {
		border-bottom: 1px solid rgb(245, 245, 245);
	}
	.no-appointments {
		font-size: 13px;
		text-align: center;
		padding-bottom: 15px;
		padding-top: 15px;
		background: #ffffff;
		margin-top: 0px;
		z-index: -10;
		font-style: italic;
	}
	.appointments-table-heading {
		margin: 0;
		margin-top: 0;
		padding: 12px;
		background: #eeeeee;
		font-weight: 400;
		font-size: 14px;
	}
	.operator-thumb {
		margin-bottom: 1px;
	}
	h2 {
		background: #f5f5f5;
		padding: 0.84em;
		text-align: left;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 0;
	}
}

#router-outlet {
	margin-top: 50px;
	padding-bottom: 20px;
}
