.login-component {
	background: #f5f5f5;
	border: 1px solid #e3e3e3;

	margin: 50px auto;
	max-width: 400px;
	padding: 0 20px 20px;
	.user-chooser {
		border-bottom: 1px solid transparent;
		&:hover {
			border-color: #c5cae9;
			border-radius: 5px;
		}
	}

	.ms-MessageBar--warning {
		border: 1px solid #fbc02d;
	}

	.offline-login-form {
		padding: 15px 0;
		button {
			margin-top: 10px;
			display: block;
			margin: 20px auto;
			height: 40px;
			text-transform: uppercase;
		}
	}
	.ms-Pivot {
		background: #f5f5f5;
		margin: -21px;
		border: 1px solid #e3e3e3;
		margin-bottom: 10px;
	}
	.hint-link {
		font-size: 12px;
		text-align: right;
		margin-top: 15px;
		border-radius: 3px;
		display: block;
	}
}

.edit-server-location {
	display: inline-block;
	margin-top: 23px;
}
