.spinner-container {
	margin-top: 220px;
}

.eb {
	position: fixed;
	z-index: 99999;
	background: #f44336;
	color: #fff;
	top: 0;
	width: 100%;
	height: 100%;
	white-space: pre;

	textarea {
		margin: 15px 0px 0px;
		height: 100%;
		min-width: 100%;
		background: #ffcdd2;
		border: 0px;
		display: block;
		position: absolute;
		left: 0;
		padding: 15px;
	}

	.ms-Button {
		position: absolute;
		left: 15px;
		bottom: 15px;
		background: #b71c1c;
	}
}
