@import "./global-styles/shadows.scss";

.menu {
	.ms-Panel-content {
		padding: 0;
	}
	.ms-Nav {
		ul {
			.is-selected {
				.ms-Nav-link {
					background: #f5f5f5;
					border-bottom: 1px solid #f3f3f3;
					border-radius: 0;
					border-top: 1px solid #f3f3f3;
					font-weight: 600;
					&:after {
						border: 0;
					}
				}
			}
			.ms-Nav-link {
				text-transform: capitalize;
			}
		}
	}
}

.ver {
	text-align: center;
	font-size: 9px;
	cursor: default;
	padding: 5px;
	border-radius: 50%;
	line-height: 1.2em;
	color: #9e9e9e;
	position: fixed;
	right: 2px;
	bottom: 2px;
	opacity: 0.4;
	span {
		font-size: 11px;
		font-weight: 500;
		padding-top: 2px;
		display: inline-block;
		margin-top: 2px;
		border-top: 1px solid #e3e3e3;
	}
}

@media (min-width: 992px) {
	#router-outlet {
		margin-left: 65px;
	}
	.icon-list {
		position: fixed;
		top: 50px;
		left: 0;
		cursor: pointer;
		background: #fff;
		border-right: 1px solid #f5f5f5;
		height: 100%;
		.ms-TooltipHost:nth-child(2) .item {
			padding: 0.47em;
		}
		.item {
			transition: 0.2s all;
			background: #fff;
			padding: 0.55em 0.67em;
			font-size: 17px;
			text-align: center;
			min-width: 65px;
			border-bottom: 1px solid transparent;
			&:hover {
				background: #f5f5f5;
			}
			&.selected {
				background: #eee;
				color: #000;
				cursor: initial;
			}
			.text {
				margin-top: 5px;
				font-size: 11px;
				position: relative;
				bottom: 3px;
				display: block;
				text-transform: capitalize;
			}
		}
	}
}

.menu-item-tt {
	.ms-Callout-beak {
		height: 14px !important;
		left: -5px !important;
	}
}
