@import "./global-styles/shadows.scss";

.menu {
	.ms-Nav {
		ul {
			padding-top: 5px;
			.is-selected {
				background: #e1f5fe;
			}
			.ms-Nav-link {
				padding-left: 0 !important;
				text-transform: capitalize;
			}
		}
	}
}

@media (min-width: 992px) {
	#router-outlet {
		margin-left: 65px;
	}
	.icon-list {
		position: fixed;
		top: 50px;
		left: 0;
		cursor: pointer;
		background: #fff;
		border-right: 1px solid #f5f5f5;
		height: 100%;
		.item {
			transition: 0.2s all;
			background: #fff;
			padding: 10px;
			font-size: 17px;
			text-align: center;
			min-width: 65px;
			border-bottom: 1px solid transparent;
			&:hover {
				background: #f5f5f5;
			}
			&.selected {
				background: #eee;
				color: #000;
				cursor: initial;
			}
			.text {
				margin-top: 5px;
				font-size: 11px;
				position: relative;
				bottom: 3px;
				display: block;
				text-transform: capitalize;
			}
		}
	}
}
