.panel-tabs {
	background: #f1f1f1;
	margin-left: -25px;
	margin-right: -25px;
	padding-left: 25px;
	padding-right: 25px;
	border-top: 1px solid #e3e3e3;
	.ms-Pivot {
		margin-bottom: -15px;
		.ms-Pivot-link {
			font-size: 13px;
		}
	}
}
