@import "./global-styles/shadows.scss";

.spd-pn {
	.gender {
		margin-bottom: 12px;
	}
	.patient-tags {
		border: 1px solid #c8c8c8;
		transition: 0.3s all;
		&:hover {
			border-color: #0078d7;
		}
	}
	.avatar {
		text-align: center;
		font-size: 100px;
		color: #0078d7;
		border: 1px;
	}
	.buttons {
		margin-top: 20px;
		button {
			width: 100%;
		}
		.delete {
			position: static !important;
		}
	}
	.thumb {
		height: 50px;
		width: 50px;
		background-size: cover;
		display: inline-block;
		margin-right: 5px;
		border: 2px solid transparent;
		cursor: pointer;
		&.selected {
			border-color: darkred;
		}
	}
}
