.cl-section {
	background: #fff;
	margin-top: 10px;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	position: relative;
	h3 {
		margin-bottom: 12px;
		padding-bottom: 12px;
		border-bottom: 1px dotted #e0e0e0;
		margin-top: 0;
	}
	.chevron {
		position: absolute;
		top: 7px;
		right: 7px;
	}
	.cl-section-title {
		&:hover {
			color: rgb(0, 69, 120);
		}
		cursor: pointer;
		&.only-title {
			margin-bottom: 0;
			padding: 0;
			border: none;
		}
	}
}
