@import "./global-styles/shadows.scss";

.settings-component {
	.lock-icon {
		display: inline-block;
		font-size: 30px;
		padding: 0 10px 0 0;
		vertical-align: top;
		margin-top: 25px;
		margin-right: 10px;
		color: #e3f3ff66;
		border-right: 1px solid;
	}
	.lock-header {
		display: inline-block;
	}
	.lock-msg {
		max-width: 600px;
		width: 90%;
		padding: 5px 25px 25px;
		margin: 0 auto;
		margin-top: 15px;
		border-radius: 3px;
		background: #0078d4;
		color: #fff;
		border: 1px solid #0078d4;
		box-shadow: 0 0 8px 0px #0078d49c;
		hr {
			border: none;
			border-bottom: 1px solid #ffffff21;
			margin-bottom: 30px;
			margin-top: 20px;
			margin-left: -25px;
			margin-right: -25px;
		}
	}
	.math-question {
		.ms-TextField {
			display: inline-block;
			width: 70px;
		}
	}

	font-size: 13px;

	.ms-MessageBar {
		margin-top: 22px;
		.ms-MessageBar-innerText {
			margin-top: 0 !important;
		}
	}

	.form {
		.ms-TextField-prefix {
			font-size: 11px;
			width: 90px;
		}
	}
	hr {
		border: none;
		border-bottom: 1px solid #e3e3e3;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.hint {
		margin-top: 17px;
		font-size: 12px;
		color: #424242;
		line-height: 20px;
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 992px) {
	.settings-component {
		margin-top: 60px;
		border-radius: 3px;
	}
}
