@import "../../../global-styles/shadows.scss";

.gallery-component {
	margin-top: 10px;
	.gallery-label {
		margin-bottom: 5px;
	}
	.image {
		height: 73px;
		width: 73px;
		display: inline-block;
		background-size: cover;
		background-position: center;
		padding: 20px;
	}
	.input-image {
		font-size: 22px;
		padding: 16px 10px;
		cursor: pointer;
		vertical-align: top;
		transition: 0.4s all;
		display: inline-block;
		text-align: center;
		&:hover {
			@include box_shadow(3);
			color: #0078d7;
		}
		span {
			font-size: 10px;
			display: block;
			margin-top: 7px;
			text-transform: uppercase;
		}
	}
}

.gallery-view {
	max-width: 100%;
}
