.login-component {
	margin: 50px auto;
	max-width: 400px;
	padding: 0 20px;
}

.no-server-mode {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.edit-server-location {
	display: inline-block;
	margin-top: 23px;
}
