@import "../../../../global-styles/shadows.scss";

.single-patient-details {
	.gender {
		margin-bottom: 12px;
	}
	.ms-TextField-wrapper {
		.ms-TextField-field {
			background: #fff;
		}
		div:nth-child(1) {
			transition: 0.3s all;
			border-color: #c8c8c8;
			&:hover {
				border-color: #0078d7;
			}
			div {
				background: #f5f5f5;
				min-width: 70px;
			}
		}
	}
	.patient-tags {
		border: 1px solid #c8c8c8;
		transition: 0.3s all;
		&:hover {
			border-color: #0078d7;
		}
	}
	.avatar {
		text-align: center;
		font-size: 100px;
		color: #0078d7;
		border: 1px;
	}
	.buttons {
		margin-top: 20px;
		button {
			width: 100%;
		}
		.delete {
			position: static !important;
		}
	}
}
