@import "./global-styles/normalize.scss";
@import "./global-styles/margin-helpers.scss";
@import "./global-styles/padding-helpers.scss";
@import "./global-styles/fabric-fixes.scss";
@import "./global-styles/text-helpers.scss";
@import "./global-styles/grid-system.scss";
@import "./global-styles/animations.scss";

body {
	background: #f5f5f5 !important;
	font-family: "Segoe UI WestEuropean";
	overflow-x: hidden;
	line-height: 1;
	height: auto;
}

hr {
	border: none;
	margin-bottom: 20px;
	border-top: 1px dotted #e0e0e0;
}

.hidden {
	display: none;
}
