@import "./global-styles/normalize.scss";
@import "./global-styles/margin-helpers.scss";
@import "./global-styles/padding-helpers.scss";
@import "./global-styles/fabric-fixes.scss";
@import "./global-styles/text-helpers.scss";
@import "./global-styles/grid-system.scss";
@import "./global-styles/animations.scss";
@import "./global-styles/mobile.scss";

html,
body {
	overflow-x: hidden !important;
}

body {
	background: #f5f5f5 !important;
	font-family: "Segoe UI WestEuropean";

	line-height: 1;
	height: auto;
}

hr {
	border: none;
	margin-bottom: 20px;
	border-top: 1px dotted #e0e0e0;
}

.hidden {
	display: none;
}

.version-num {
	font-size: 12px;
	position: absolute;
	color: rgb(227, 227, 227);
	bottom: 5px;
	right: 12px;
	z-index: -1;
}
