@import "./global-styles/normalize.scss";
@import "./global-styles/margin-helpers.scss";
@import "./global-styles/padding-helpers.scss";
@import "./global-styles/fabric-fixes.scss";
@import "./global-styles/text-helpers.scss";
@import "./global-styles/grid-system.scss";
@import "./global-styles/animations.scss";
@import "./global-styles/mobile.scss";
@import "./global-styles//rtl.scss";

html,
body {
	overflow-x: hidden !important;
	&.has-panel {
		overflow: hidden;
	}
}

body {
	background: #f5f5f5 !important;
	font-family: "Segoe UI WestEuropean";

	line-height: 1;
	height: auto;
}

hr {
	border: none;
	margin-bottom: 20px;
	border-top: 1px dotted #e0e0e0;
}

.hidden {
	display: none;
}

.version-num {
	font-size: 12px;
	position: absolute;
	color: rgb(227, 227, 227);
	bottom: 5px;
	right: 12px;
	z-index: -1;
}

.ex-pnl {
	.ms-Panel-main {
		width: 100% !important;
		left: 0 !important;

		.ms-Panel-content {
			padding-top: 70px;
			margin-top: -70px;
			height: 100vh;

			iframe {
				height: 100%;
				width: 100%;
				border: 0;
			}
		}
	}
}
