.ortho-single-component {
	font-size: 13px;
	.ms-Dropdown-container {
		margin-bottom: 10px;
	}
	.ms-TextField-prefix {
		min-width: 108px;
		font-size: 12px;
	}

	.ab-marker {
		position: relative;
		.ab-marker-bubble {
			height: 10px;
			width: 10px;
			position: absolute;
			background: #f00;
			top: 10px;
			left: -4px;
			border-radius: 10px;
			opacity: 0.7;
		}
	}

	[class^="errorMessage"],
	.ms-TextField-errorMessage {
		display: none;
		font-size: 12px;
		padding-top: 5px;
		&:before {
			display: none;
		}
	}
	.ms-Dropdown-container:hover,
	.ms-TextField:hover {
		[class^="errorMessage"],
		.ms-TextField-errorMessage {
			display: block;
		}
	}

	.has-error .ms-TextField-fieldGroup {
		border-color: #a80000;
	}
}
